.talkSpace {
    width: max-content;
    display: flex;
    height: 50vw;
}

.inputBox {
    position: relative;
    top: 5vw;
    left: 5vw;
    width: 35vw;
    height: 25vw;
    font-size: 5vw;
    border-radius: 5vw;
}

.button {
    position: relative;
    top: 26vw;
    left: 5vw;
    width: 7vw;
    height: 4vw;
    font-size: 1.5vw;
}

.outputBox {
    position: relative;
    left: 9vw;
    width: 35vw;
    height: 25vw;
    background-color: lightyellow;
    font-size: 5cqmax;
    border-radius: 5vw;
}

.talkpen {
    position: relative;
    top: 31vw;
    left: -30vw;
    height: 18vw;
    width: 18vw;
    border-radius: 2vw;
}

.changeLang {
    position: absolute;
    top: 35vw;
    left: 87.5vw;
    width: 7vw;
    height: 4vw;
}

.usingLang {
    position: absolute;
    top: 27vw;
    left: 87vw;
    background-color: white;
    padding: 1.3vw;
    font-size: 2vw;
}