.talkSpace {
    width: max-content;
    display: flex;
    height: 50vw;
}

.inputBox {
    position: relative;
    top: 3vw;
    left: 5vw;
    width: 31vw;
    height: 21vw;
    font-size: 3cqmax;
    border-radius: 5vw;
    padding: 2vw;
}

.button {
    position: relative;
    top: 24vw;
    left: 5.3vw;
    width: 7vw;
    height: 4vw;
    font-size: 1.5vw;
}

.pen {
    position: relative;
    top: 1vw;
    left: 10vw;
    width: 31vw;
    height: 21vw;
    background-color: lightyellow;
    font-size: 2cqmax;
    border-radius: 5vw;
    padding: 2vw;
}

.jpn {
    position: relative;
    top: 0;
    left: 10vw;
    width: 31vw;
    height: 21vw;
    background-color: lightyellow;
    font-size: 3cqmax;
    border-radius: 5vw;
    padding: 2vw;
}

.talkpen {
    position: relative;
    top: 29vw;
    left: -27vw;
    height: 18vw;
    width: 18vw;
    border-radius: 2vw;
}

.changeLang {
    position: relative;
    top: 24vw;
    left: -23vw;
    width: 7vw;
    height: 4vw;
    font-size: 1.5cqmax;
}

.usingLang {
    position: relative;
    top: 16vw;
    left: -15vw;
    width: 6.5vw;
    height: 2.8vw;
    background-color: white;
    padding: 1.3vw;
    font-size: 2.1cqmax;
}

.here {
    position: relative;
    top: 27vw;
    left: -85vw;
}