.title {
  display: flex;
  background-color: dodgerblue;
  grid-gap: 5rem;
}


.select {
  display: flex;
  grid-gap: 2rem;
}

.option {
  color: black;
  font-size: 50px;
  margin: 20px;
  background-color: aqua;
}

.disc_img {
  display: flex;
}


.discription {
  font-size: 45px;
  background-color: lightcyan;
  margin: 20px;
}