
.zukan {
    background-color: lavenderblush;
    margin: 20px;
    text-align: center;
}

.Ztitle {
    background-color: lightgray;
    display: inline-block;
    width: 250px;
    padding: 10px;
}

.pictures {
    /* flex-direction: row-reverse; */
    flex-wrap: wrap; /*  折り返し？ */
    text-align: initial;

}

.picture {
    object-fit: cover;
    width: 180px;
    height: 180px;
    background-color: white;
}

.set {
    display:inline-block;
    margin: 30px;
}

.name {
    text-align: center;
    margin: 0px;
}

